# Ignore bin and obj folders
**/bin/
**/obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider and VSCode files
.idea/
.vscode/

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]in/
[Oo]bj/

# Ignore NuGet packages
*.nupkg
*.snupkg

# Ignore project files
project.lock.json
project.fragment.lock.json
artifacts/
